
<div *ngFor="let survey of surveys; let i = index">
  <div class="jumbotron">
    <h2>{{survey.name}}</h2>
    <hr class="my-4">
    <p>{{survey.description}}</p>
  </div>
</div>

<div  class="col-md-12">
  <form  *ngIf="surveyForm != undefined" class="form panel" [formGroup]="surveyForm" (submit)="onSubmit()">
    <div class="form-group">
      <label>  Survey_Id: </label>  <input  type="text" class="form-control" name="text" formControlName="survey_id">
    </div>
    <div class="form-group">
      <label>Email: </label>  <input  type="email" class="form-control" name="email" formControlName="email">
    </div>
    <div class="" >
      <div  formArrayName="questions" *ngFor="let question of questions.controls; let j=index">
        <div formGroupName = "{{ j }}">

            {{ question.get('type').value }}


                <div class="form-group">
                  <label> {{ question.get('title').value }} </label>
                  <input  *ngIf="question.get('type').value == 'fillintheblank'" type="text" class="form-control" formControlName="value">
                  <textarea *ngIf="question.get('type').value == 'textarea'"  class="form-control" formControlName="value"></textarea>
                  <!-- <div class="row"  *ngIf="question.get('type').value == 'truefalse'">
                    <div class="col-md-6">

                      <input type="radio" formControlName="value"> TRUE
                    </div>
                    <div class="col-md-6">
                      <input type="radio" formControlName="value"> FALSE
                      </div>



                  </div> -->

                  <!-- <div class="row"  *ngIf="question.get('type').value  == 'ratings'">
                      <div class="col-md-2 col-md-offset-1">

                        <input type="radio" value="1"  required  ngModel> 1
                      </div>
                      <div class="col-md-2">
                        <input type="radio" value="2"  required  ngModel> 2
                      </div>
                      <div class="col-md-2">
                        <input type="radio" value="3"  required  ngModel> 3
                      </div>
                      <div class="col-md-2">
                        <input type="radio" value="4"  required ngModel> 4
                      </div>
                      <div class="col-md-2">
                        <input type="radio" value="5"  required ngModel> 5
                      </div>
                    </div> -->
                    <!-- END RATINGS -->
                </div>
        </div>
      </div>
    </div>

    <div class="form-group pull-right">
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>

  </form>
</div>
